@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root{
    background: va;
    color: #e2e8f0;
    min-width: 0;
    width: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
}

a:active{
    color: #38bdf8;
} */